#p-navigation {
    margin-left: 4%;
    margin-top: 60px;

    .p-link-icon {
        padding-top:10px;
        padding-bottom:0px
    }
}

#p-name {
    font-size: 1.5rem;
}

#p-position {
    font-size: 1rem;
}

.p-content {
    margin-top: 48px;

    .p-card {
        margin-left: 21%;
        margin-right: 15%;
        margin-bottom: 20px;
    
        .p-card-title {
            margin-left: 30px;
            margin-top: 10px;
        }
    }

    .p-timeline {
        padding-left: 50px;
        padding-right: 50px;

        li {
            text-align: justify;
            text-justify: inter-word;

            b {
                color: #424242;
            }
        }
    }

    .p-skill {
        .p-skill-block {
            margin-left: 20px;
    
            .p-skill-col {
                min-width: 300px;
                max-width: 300px;
            }
    
            .p-skill-name {
                padding-top: 5px;
                width: 120px;
            }
        }
    
        .p-skill-title {
            margin-left: 20px;
            margin-top: 20px
        }
    }
    
    .p-home {
        padding-left: 50px;
        padding-right: 50px;

        text-align: justify;
        text-justify: inter-word;

        b {
            color:#0277BD;
        }

        b.p-large {
            font-size: 1.3rem
        }

        h3 {
            font-size: 1.3rem;
        }
    }

    .p-about {
        padding-left: 60px;
        padding-right: 60px;

        .p-col-1 {
            h4 {
                width: 120px;
            } 
        }

        .p-col-2 {
            h4 {
                width: 100px;
            }

            li {
                margin-bottom: 5px;
            }
        }

        .p-button {
            padding-top: 10px; 
            padding-bottom: 10px
        }
    }

    .p-projects {
        .p-project-name {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 10px
        }

        .p-project-block {
            margin-left: 20px;
            margin-right: 20px;

            p {
                margin-bottom: 10px;
                text-align: justify;
                text-justify: inter-word;

            }
        }
    }
}

.p-content-mobile {
    margin-top: 48px;

    .p-card {
        margin-bottom: 20px;
    }

    .p-timeline {
        padding-left: 0px;
        padding-right: 10px;

        h3 {
            font-size: 14pt;
        }

        p {
            font-size: small;
        }

        li {
            font-size: small;
            text-justify: inter-word;

            b {
                color: #424242;
            }
        }
    }

    .p-skill {
        .p-skill-block {
            margin-left: 0;
    
            .p-skill-col {
                min-width: 250px;
                max-width: 250px;
            }
    
            .p-skill-name {
                padding-top: 0;
                width: 100px;
                font-size: small;
            }
        }
    
        .p-skill-title {
            margin-left: 0;
            margin-top: 20px
        }
    }

    .p-home {
        text-align: justify;
        text-justify: inter-word;
        font-size: small;

        b.p-large {
            font-size: 1.1rem
        }

        b {
            color:#0277BD;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 1rem;
        }
    }

    .p-about {
        padding-left: 25px;
        padding-right: 25px;

        .p-col-1 {
            h4 {
                width: 100px;
                font-size: small;
            }

            p {
                font-size: small;
            }
        }

        .p-col-2 {
            h4 {
                width: 100px;
                font-size: small;
            }

            li {
                font-size: small;
                text-justify: inter-word;
            }
        }

        .p-button {
            padding-top: 20px; 
            padding-bottom: 10px;
        }
    }

    .p-projects {
        .p-project-name {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 10px
        }

        .p-project-block {
            margin-left: 0;
            margin-right: 0;

            p {
                margin-bottom: 10px;
                font-size: small;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}

.p-brand:hover {
    cursor: pointer;
    color: #BDBDBD
}

.p-card-mobile {
    margin-bottom: 20px;
}